// styles index of client, order
$color-icon: #2196F3;
$color-blue: #00BCD4; 
$color-orders :#4CAF50;  
$buton-create: (
   background-color: #aadae0, 
   color: black,
   border: 1px solid rgb(250, 249, 246),
   padding: 7px,
   border-radius: 10px,
   margin: 30px 30px 15px 0px
);

$buton-back: (
   color: #00BCD4,
   font-size: 23px,
   margin: 10px,
);

@mixin title {
   display: grid;
   place-items: center;
   text-transform: uppercase;
   font-weight: bold;
   padding: 10px;
   letter-spacing: 2px;
   }



.container {
   background-color: rgb(241, 239, 239);
   height: auto;
   display: grid;
   place-items: center; 
   
   .button-create {
      @each $property, $value in $buton-create {
      #{$property}: $value;
      &:hover {
      background-color: $color-blue
      }
      }
   }

   th.head {
      background-color: black;
      color: white;
      text-transform: uppercase;
      text-align: center;
      padding: 10px 40px;
   }

   td.body {
      text-align: center;
      padding: 10px 40px;
      border-collapse: collapse;
      border-bottom: 1px solid black;   
   }

   tbody tr {
      background-color: rgba(248, 245, 245, 0.5);
      &:hover {
         background-color: rgba(207, 204, 204, 0.5) 
      }
   }
   // icon action

   .icon-container {
      position: relative;
      display: inline-block;
      .fa-fw {
         font-size: 17px;
         transition: transform 0.3s, font-size 0.3s;
         &:hover{
            font-size: 30x;
         }
      }
      .icon-text {
         opacity: 0;
         position: absolute;
         top: 100%;
         left: 50%;
         transform: translateX(-30%);
         transition: opacity 0.3s;
        
      }
      &:hover .fa-fw{
         font-size: 22px;
      }
     
      &:hover .icon-text {
         opacity: 1;
         color: black;
         font-weight: bold;
      }
   }


   .fa-eye:before {
      color: #4CAF50;
   }
   .fa.fa-edit:before {
      color: $color-blue;
   }
   .fa.fa-trash:before {
      color: red;
   }

  


   // icon order
   .fa-shopify:before {
      color: $color-icon;
      font-size: 17px;
      transition: transform 0.2s, font-size 0.2s;
   }
   .fa-shopify:hover:before {
      font-size: 22px;
      color: $color-orders 
   }
   .fa-cart-plus:before {
      color: $color-icon;
      transition: transform 0.2s, font-size 0.2s;
   }
   .fa-cart-plus:hover:before {
      font-size: 22px;
      color: $color-orders 
   }
}
// --------------
// showOrders

span.title {
   @include title()
}


i.fa-solid.fa-circle-arrow-left {
    margin: 10px;

}
.fa-circle-arrow-left:before {
   @each $property, $value in $buton-back {
      #{$property}: $value;}
}

.alert {
    display: grid;
    place-items: center;
    margin: 10px;
    p {
       text-align: center;
       padding: 10px;
       color: green;
       font-weight: bold;
       background: #efefd4;
       border-radius: 30px;
       width: 70%;
    }
}


@mixin input {
   border-radius: 10px;
   width: 300px;
   background: none;
   border: 1px solid black;

}

input#name, 
input#email {
   @include input()  
}
input#email {   
   margin: 0px 0px 0px 5px;
}

.form-group {
   padding: 10px;
}


.container-button {
   display: grid;
   place-items: center;
}
button.submit {
   border: 1px solid black;
   border-radius: 10px;
   width: 30%;
   padding: 5px;
   font-weight: bold;
   background-color: rgb(161, 221, 161);
}
.input-order {
   padding: 15px;
}

select.form-control {
   @include input()
  
}
input#price {
   @include input();
   margin: 0px 0px 0px 25px;
}

.form-group label {
   margin-bottom: 10px;
}

.form-group input {
   margin-top: 10px; 
   
}

.nameshow {
   text-align: left;
   
}
section.secshow {
   display: grid;
   place-items: center;
}

td.bodyname {
   text-align: left;
         padding: 10px 40px;
         border-collapse: collapse;
         border-bottom: 1px solid black; 

      }

.nameClient {

   text-transform: capitalize;

      }