.container {
  background-color: rgb(241, 239, 239);
  height: auto;
  display: grid;
  place-items: center;
}
.container .button-create {
  background-color: #aadae0;
  color: black;
  border: 1px solid rgb(250, 249, 246);
  padding: 7px;
  border-radius: 10px;
  margin: 30px 30px 15px 0px;
}
.container .button-create:hover {
  background-color: #00bcd4;
}
.container .button-create:hover {
  background-color: #00bcd4;
}
.container .button-create:hover {
  background-color: #00bcd4;
}
.container .button-create:hover {
  background-color: #00bcd4;
}
.container .button-create:hover {
  background-color: #00bcd4;
}
.container .button-create:hover {
  background-color: #00bcd4;
}
.container th.head {
  background-color: black;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 40px;
}
.container td.body {
  text-align: center;
  padding: 10px 40px;
  border-collapse: collapse;
  border-bottom: 1px solid black;
}
.container tbody tr {
  background-color: rgba(248, 245, 245, 0.5);
}
.container tbody tr:hover {
  background-color: rgba(207, 204, 204, 0.5);
}
.container .fa-eye:before {
  color: #4caf50;
}
.container .fa.fa-edit:before {
  color: #00bcd4;
}
.container .fa.fa-trash:before {
  color: red;
}
.container .fa-shopify:before {
  color: #2196f3;
  font-size: 17px;
  transition: transform 0.2s, font-size 0.2s;
}
.container .fa-shopify:hover:before {
  font-size: 22px;
  color: #4caf50;
}
.container .fa-cart-plus:before {
  color: #2196f3;
  transition: transform 0.2s, font-size 0.2s;
}
.container .fa-cart-plus:hover:before {
  font-size: 22px;
  color: #4caf50;
}

span.title {
  display: grid;
  place-items: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  letter-spacing: 2px;
}

i.fa-solid.fa-circle-arrow-left {
  margin: 10px;
}

.fa-circle-arrow-left:before {
  color: #00bcd4;
  font-size: 23px;
  margin: 10px;
}

.alert {
  display: grid;
  place-items: center;
  margin: 10px;
}
.alert p {
  text-align: center;
  padding: 10px;
  color: green;
  font-weight: bold;
  background: #efefd4;
  border-radius: 30px;
  width: 70%;
}

input#name {
  border-radius: 10px;
  width: 300px;
  background: none;
  border: 1px solid black;
}

input#email {
  border-radius: 10px;
  width: 300px;
  background: none;
  border: 1px solid black;
  margin: 0px 0px 0px 5px;
}

.form-group {
  padding: 10px;
}

.container-button {
  display: grid;
  place-items: center;
}

button.submit {
  border: 1px solid black;
  border-radius: 10px;
  width: 30%;
  padding: 5px;
  font-weight: bold;
  background-color: rgb(161, 221, 161);
}

.input-order {
  padding: 15px;
}

select.form-control {
  border-radius: 10px;
  width: 300px;
  background: none;
  border: 1px solid black;
}

input#price {
  border-radius: 10px;
  width: 300px;
  background: none;
  border: 1px solid black;
  margin: 0px 0px 0px 25px;
}

.form-group label {
  margin-bottom: 10px;
}

.form-group input {
  margin-top: 10px;
}

.nameshow {
  text-align: left;
}

section.secshow {
  display: grid;
  place-items: center;
}

td.bodyname {
  text-align: left;
  padding: 10px 40px;
  border-collapse: collapse;
  border-bottom: 1px solid black;
}

.custom-title {
  background-color: black;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 40px;
}

/*# sourceMappingURL=app.css.map */
