$table-body: #d1a5a5;
$body: rgb(251, 249, 246);
$color: white;
$button-new-product: #3498db;
.btn-new-product {
    background-color: $button-new-product;
    color: $color;
    border: 2px solid #2980b9;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}
body {
    background-color: $body;
    font-family: inherit;
}
.container {
    border-color: black;
}
.table-styled {
    border-collapse: collapse;
    width: 80%;
    border: 5px solid #ccc;
}
.table-styled th,
.table-styled td {
    padding: 10px;
    text-align: left;
    border-bottom: 5px solid #ccc;
}
.form-select {
    width: 15%;
}
