/* Clase personalizada para las etiquetas del formulario */
.my-label {
   font-weight: bold;
   font-size: 16px;
   color: #333; /* Cambia el color de las etiquetas */
}

/* Clase personalizada para los campos de entrada */
.my-input {
   border: 2px solid #FF0000;
   padding: 10px;
   border-radius: 5px;
   font-size: 14px;
}

/* Clase personalizada para el botón */
.my-button {
   background-color: #FF0000;
   color: #FFFFFF;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   font-weight: bold;
   font-size: 16px;
}

/* Estilos adicionales personalizados */

